img{
    max-width: 100px;
}
.Header-wrapper{
    opacity: .7;
    padding: 0 !important;
}
.nav-link{
    opacity: .9;
} 
.slide-inner
{
    background-position: center !important;
}
.Chef{
    margin: 0 auto;
    background-position: center;
}
.fa .fa-yelp::before{
    content:"f1e9"  ;
    }
.gallery-img
{
    height: 500px !important;
  
}
@media(max-width:600px){
    .beyaynetu{
        background-image:url(../images/yelp/replacebeyaynetu.jpeg);
        
        
    }
}
@media(min-width:600px){
    .beyaynetu{
        background-image:url(../images/yelp/replacebeyaynetu.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
